@import '../css/public.css';

*{margin: 0; padding: 0; font-family: 'HGGGothicssi_40';}
body{background-color: var(--color-mainOrange);}

.container{width: 100%; position: relative;}

.container > div.logo{width:100%; height: 100px; position: fixed; background-color: black; opacity: 0.5;} 
.logo > img{ display: inline-block;  width: 100px; height: 100px;}

.container > .dot{color: var(--color-aliceBlue); position: fixed; right: 1%;}
.container > .d1{top: 47vh}
.container > .d2{top: 50vh}
.container > .d3{top: 53vh}


.container .subcon{width: 75%; margin: 0 auto;}
section{width: 100%; height: 100vh; color: var(--color-aliceBlue);}
section .text, .img{margin: 20% 0 0 0}
section div.text{width: 50%; text-align: center; padding: 7% 0 0 0;}
section div.t1{font-size: 2em; }
section div.t2{font-size: 2em;}
section div.t3{font-size: 2em;}
section div.img{width: 50%; height: 50vh;}
.i1{object-fit: cover;}
section .i1{background-image: url('../img/basicPage1.png'); background-size: contain; background-repeat: no-repeat;} 
section .i2{background-image: url('../img/basicPage2.png'); background-size: contain; background-repeat: no-repeat;}
section .i3{background-image: url('../img/basicPage3.png'); background-size: contain; background-repeat: no-repeat; }
section:nth-of-type(1){display: flex;}
section:nth-of-type(2){display: flex;}
section:nth-of-type(3){display: flex;}



