@font-face {
    font-family: 'HGGGothicssi_60';
    src: url('../font/HGGGothicssi_60g.woff');
}

@font-face{
    font-family: 'HGGGothicssi_40';
    src: url('../font/HGGGothicssi_40g.woff');
}

@font-face {
    font-family: 'HGGGothicssi_20';
    src: url('../font/HGGGothicssi_20g.woff');
}




:root{
    --color-mainOrange: #F29F05;
    --color-darkOrange: #805300;
    --color-aliceBlue: #f0f8ff;
    --gradient-yellowOrange: linear-gradient(90deg, rgba(242,212,5,1) 0%, rgba(242,159,5,1) 100%);
}

