<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>firstPage</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <div class="container">
        <div class="logo"><img src="img/Logo.png" alt=""></div>
        <div class="dot d1">●</div>
        <div class="dot d2">●</div>
        <div class="dot d3">●</div>
        <div class="subcon">
            <section>
                <div class="text t1">
                    <h2>나들이의 새로운 패러다임</h2>
                    <br>
                    <p>Route_planner와 함께 Comfort한 나들이를 꿈꾸세요.</p>
                </div>
                <div class="img i1"></div>
            </section>
            <section>
                <div class="img i2"></div>
                <div class="text t2">
                    <h2>당신이 궁금해요. : 사전설문조사</h2>
                    <br>
                    <p>사전 기호조사를 통해 당신의 취향을 알려주세요.</p>
                </div>
            </section>
            <section>
                <div class="text t3">
                    <h2>손쉬운 사용 : 키워드</h2>
                    <br>
                    <p>간단한 키워드를 이용하여 </p><p>당신의 나들이 일정을 세워드릴게요.</p>
                </div>
                <div class="img i3"></div>
            </section>
        </div>
        <button th:onclick="|location.href='@{/add}'|">
            <a>Let's go!</a>
        </button>
    </div>
</body>
</html>


<!-- jQuery -->
<script>
    $(function () {
        $(window).ready(function(){
            $('section:nth-of-type(1)').animate({opacity: '1'}, 1000);
            $('.container .d1').css('color', 'var(--color-darkOrange)');
        })

        //scrollEvent
        $(window).scroll(function () {
            var $cheight = $('section:nth-of-type(1)').height();
            var $startPoint = $cheight / 2;
            var $cheightTwo = ($cheight*2)-$startPoint;
            var $st = $(window).scrollTop();
            if($st >= $startPoint){
                $('section:nth-of-type(2)').animate({opacity: '1'}, 1500);
            }
            if ($st >= $cheightTwo) {
                $('section:nth-of-type(3)').animate({ opacity: '1' }, 1500);
            }

            const $sTop = $(window).scrollTop();
            const $sec1 = $('section:nth-of-type(1)');
            const $sec2 = $('section:nth-of-type(2)');
            const $sec3 = $('section:nth-of-type(3)');
            if(0 < $sTop && $sTop == 100){
                $('html, body').animate({scrollTop : $sec2.offset().top});
            }

            if($sec2.offset().top < $sTop && $sTop == $sec2.offset().top + 100){
                $('html, body').animate({scrollTop : $sec3.offset().top});
            }


            /* dotBar color active */
            if(0 <= $sTop && $sTop < 400){
                $('.container .d1').css({
                    color : 'var(--color-darkOrange',
                },1000)
            }else{
                $('.container .d1').css({
                    color : 'white',
                },1000)
            }

            if($sec2.offset().top - 200 <= $sTop && $sTop < $sec2.offset().top + 400){
                $('.container .d2').css({
                    color : 'var(--color-darkOrange',
                },1000)
            }else{
                $('.container .d2').css({
                    color : 'white',
                },1000)
            }

            if($sec3.offset().top - 200 <= $sTop && $sTop < $sec3.offset().top + 400){
                $('.container .d3').css({
                    color : 'var(--color-darkOrange)',
                },1000)
            }else{
                $('.container .d3').css({
                    color : 'white',
                },1000)
            }
        })

        /* dotBar click evnt */
        $('.container .d1').on('click', function(){
                $('html, body').animate({scrollTop : '0'});
        })

        $('.container .d2').on('click', function(){
                $('html, body').animate({scrollTop : $('section:nth-of-type(2)').offset().top});
        })

        $('.container .d3').on('click', function(){
                $('html, body').animate({scrollTop : $('section:nth-of-type(3)').offset().top});
        })
    })
</script>