<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=echp7ietnz"></script>
</head>
<body>
<div class="mainWrap">
    <div class="flexWrap">
        <header>
            <img src="/img/logo3.png" alt="">
            <nav>
                <ul>
                    <li>지도 view</li>
                    <li>Content</li>
                    <li>Content</li>
                </ul>
            </nav>
        </header>
        <section>
            <article>
                <div id="map" style="width:80vw;height:100vh;"></div>
            </article>
            <article>SubContent 2</article>
            <article>SubContent 3</article>
        </section>
        <footer>
            <ul>
                <li sec:authentication="principal.username"></li>
                <li th:onclick="|location.href='@{/}'|">첫 페이지</li>
                <li onclick="LogOut()">로그아웃</li>
                <li onclick="reSurvey()">재설문</li>
            </ul>
        </footer>
    </div>
</div>
</body>
</html>
<script>
    $(function () {
        /* navBar hover 이벤트 */
        $('header > img').hover(function () {
            $(this).attr({
                src: '/img/logo2.png',
            })
            $(this).css({width: '120px', transition: '0.5s'});
        }, function () {
            $(this).attr({
                src: '/img/logo3.png',
            })
            $(this).css({width: '100px', transition: '0.5s'});
        })

        /* navBar click 이벤트 */
        $('header nav ul li:nth-of-type(1)').on('click', function () {
            $('article:nth-of-type(1)').css({display: 'inline-block', transition: '1s'});
            $('article:nth-of-type(2)').css({display: 'none'});
            $('article:nth-of-type(3)').css({display: 'none'});
            $('article:nth-of-type(4)').css({display: 'none'});
        })

        $('header nav ul li:nth-of-type(2)').on('click', function () {
            $('article:nth-of-type(1)').css({display: 'none'});
            $('article:nth-of-type(2)').css({display: 'inline-block'});
            $('article:nth-of-type(3)').css({display: 'none'});
            $('article:nth-of-type(4)').css({display: 'none'});
        })

        $('header nav ul li:nth-of-type(3)').on('click', function () {
            $('article:nth-of-type(1)').css({display: 'none'});
            $('article:nth-of-type(2)').css({display: 'none'});
            $('article:nth-of-type(3)').css({display: 'inline-block'});
            $('article:nth-of-type(4)').css({display: 'none'});
        })

        $('header nav ul li:nth-of-type(4)').on('click', function () {
            $('article:nth-of-type(1)').css({display: 'none'});
            $('article:nth-of-type(2)').css({display: 'none'});
            $('article:nth-of-type(3)').css({display: 'none'});
            $('article:nth-of-type(4)').css({display: 'inline-block'});
        })

        /* 사전설문조사 페이지 이동 이벤트 */
        var distance = 0;
        var $point = $('.mainWrap .flexWrap section article:nth-of-type(1) .surveyWrap form .q div:nth-of-type(2) label');
        $($point).on('click', function () {
            if (distance <= -66.5) {
                return;
            }
            distance -= 12.5;
            $('section article:nth-of-type(1) .surveyWrap form').css({
                transform: 'translateX(' + distance + '%)',
                transition: '1s',
            })
            console.log('translateX(' + distance + '%)');
        })
    })

    /* 재설문 페이지로 이동 */
    function reSurvey() {
        var answer;

        //확인을 선택한 경우 자바스크립트를 호출할 때 같이 넘어온 url이라는 변수에 들어있는 주소로 페이지 이동
        answer = confirm("재설문 화면으로 이동하시겠습니까?");

        if(answer == true){
            alert("재설문 화면으로 이동합니다.");
            window.location.href = "/reSurveyForm";
        }
    }

    /* 로그아웃 confirm창 */
    function LogOut() {
        var logOut;

        logOut = confirm("로그아웃 하시겠습니까?");

        if (logOut == true) {
            window.location.href = "/Logout"
        }
    }

    /* 네이버 지도 API */
    var mapOptions = { //지도 옵션 설정
        center: new naver.maps.LatLng(37.4490704, 126.657250),
        disableKineticPan: false,
        zoom: 17
    };
    var Inhatc = new naver.maps.Map('map', mapOptions); //지도 생성

    var marker = new naver.maps.Marker({ //마커 표시
        position: new naver.maps.LatLng(37.4490704, 126.657250),
        map: Inhatc
    });

    naver.maps.Event.addListener(Inhatc, 'click', function (e) { //클릭한 지점으로 마커 옮기기
        marker.setPosition(e.coord);
    });

    var contentString = [ //정보창의 내용
        '<div class="iw_inner">',
        '   <h3>인하공업전문대학 7호관</h3>',
        '   <p>인천광역시 미추홀구 소성로 71<br>',
        '       <br>',
        '       <a href="https://www.inhatc.ac.kr/" target="_blank">www.inhatc.ac.kr</a>',
        '   </p>',
        '</div>'
    ].join('');

    var infowindow = new naver.maps.InfoWindow({ //정보창 객체 생성
        content: contentString
    });

    naver.maps.Event.addListener(marker, "click", function (e) { //클릭할때마다 정보창 열고 닫기
        if (infowindow.getMap()) {
            infowindow.close();
        } else {
            infowindow.open(Inhatc, marker);
        }
    });
</script>