<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=echp7ietnz&submodules=geocoder"></script>
</head>
<body>
<div class="loader">
    <div>
        <img class="ball" src="/img/loading.gif">
        <p>Loading...</p>
    </div>
</div>

<div class="mainWrap">
    <div class="flexWrap">
        <header>
            <img src="/img/logo3.png" alt="">
            <nav>
                <ul>
                    <li>지도 view</li>
                    <li>Content</li>
                    <li>Content</li>
                </ul>
            </nav>
        </header>
        <section>
            <article>
                <div id="map" style="width:80vw;height:100vh;"></div>
            </article>
            <article>
                <span class="thData" th:text="${data}"></span>
            </article>
            <article>SubContent 3</article>
        </section>
        <footer>
            <ul>
                <li sec:authentication="principal.username"></li>
                <li th:onclick="|location.href='@{/}'|">첫 페이지</li>
                <li onclick="LogOut()">로그아웃</li>
                <li onclick="reSurvey()">재설문</li>
            </ul>
        </footer>
    </div>
</div>
</body>
</html>
<script>
    /* 여기부터 데이터 추출부분 */
    var thData = document.querySelector(".thData").innerHTML;
    const thArr = thData.split("||");

    var playData = [];
    var cafeteriaData = [];
    var cafeData = [];
    var playData2 = [];
    for(var i=0; i<thArr.length; i++){
        if (i == 0) {
            playData = thArr[i].split(',');
        }
        if (i == 1) {
            cafeteriaData = thArr[i].split(',');
        }
        if (i == 2) {
            cafeData = thArr[i].split(',');
        }
        if (i == 3) {
            playData2 = thArr[i].split(',');
        }
    }

    const pointsAddr = [playData[4], cafeteriaData[5], cafeData[5], playData2[4]];
    /* 여기까지 */


    //마커를 찍을 경유지들의 Arr (title, lat, lng)
    const lcs = new Array();
    const px = new Array();
    const py = new Array();

    //지번 주소를 도로명 주소로 변경해주는 함수
    let index = 0;
    function searchAddressToCoordinate(address) {
        naver.maps.Service.geocode({
            query: address
        }, function(status, response) {
            var lat = 0;
            var lng = 0;
            if (status === naver.maps.Service.Status.ERROR) {
                if (!address) {
                    return alert('Geocode Error, Please check address');
                }
                return alert('Geocode Error, address:' + address);
            }
            var htmlAddresses = [],
            item = response.v2.addresses[0],
            point = new naver.maps.Point(item.x, item.y);

            lcs.push(
                {lat: point.x, lng: point.y}
            );
            /*
            px.push(point.x);
            py.push(point.y);
            */

            /*
            if (item.roadAddress) {
                htmlAddresses.push('[도로명 주소] ' + item.roadAddress);
            }
            if (item.jibunAddress) {
                htmlAddresses.push('[지번 주소] ' + item.jibunAddress);
            }
            if (item.englishAddress) {
                htmlAddresses.push('[영문명 주소] ' + item.englishAddress);
            }
            infoWindow.setContent([
                '<div style="padding:10px;min-width:200px;line-height:150%;">',
                '<h4 style="margin-top:5px;">검색 주소 : '+ point.y +','+ point.x +' </h4><br />',
                htmlAddresses.join('<br />'),
                '</div>'
            //map.setCenter(point);
            ].join('\n'));
            infoWindow.open(map, point);
            */
            return point;
        });
        index++;
    }

    //좌표 구하는 기능
    function initGeocoder() {
            var latlng = map.getCenter(); // 위/경도 구하기
            var utmk = naver.maps.TransCoord.fromLatLngToUTMK(latlng); // 위/경도 -> UTMK
            var tm128 = naver.maps.TransCoord.fromUTMKToTM128(utmk);   // UTMK -> TM128
            var naverCoord = naver.maps.TransCoord.fromTM128ToNaver(tm128); // TM128 -> NAVER

            infoWindow = new naver.maps.InfoWindow({
                content: ''
            });
            for(var i=0; i<pointsAddr.length; i++){
                searchAddressToCoordinate(pointsAddr[i]);
                console.log(pointsAddr[i]);
            }
        }

    naver.maps.onJSContentLoaded = initGeocoder;

    /*
    var mapOptions = { //지도 옵션 설정
        center: new naver.maps.LatLng(37.4490704, 126.657250),
        disableKineticPan: false,
        zoom: 17
    };
    var map = new naver.maps.Map('map', mapOptions); //지도 생성

    var contentString = [ //정보창의 내용 (차후 수정)
        '<div class="iw_inner">',
        '   <h3>인하공업전문대학 7호관</h3>',
        '   <p>인천광역시 미추홀구 소성로 71<br>',
        '       <br>',
        '       <a href="https://www.inhatc.ac.kr/" target="_blank">www.inhatc.ac.kr</a>',
        '   </p>',
        '</div>'
    ].join('');


    var infowindow = new naver.maps.InfoWindow({ //정보창 객체 생성
        content: contentString
    });
    */

    //map display
    let markers = new Array();
    let infoWindows = new Array();

    var map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(37.4490704, 126.657250),
        //disableKineticPan: false,
        zoom: 17
    });

    for(var i in lcs){
    // 마커를 for문을 이용하여 여러개 찍기
        var target = lcs[i]
        var latlng = new naver.maps.LatLng(target.lat, target.lng);
        var marker = new naver.maps.Marker({
            map: map,
            position: latlng,
        });

        var infowindow = new naver.maps.InfoWindow({ //정보창 객체 생성
            content: '<div style="width:200px; text-align:center; padding:10px;"><b>' + "뿌직" + '</b><br></div>'
        });

        markers.push(marker);
        infoWindows.push(infowindow);
    }





    $(function () {
        /* navBar hover 이벤트 */
        $('header > img').hover(function () {
            $(this).attr({
                src: '/img/logo2.png',
            })
            $(this).css({width: '120px', transition: '0.5s'});
        }, function () {
            $(this).attr({
                src: '/img/logo3.png',
            })
            $(this).css({width: '100px', transition: '0.5s'});
        })


        /* navBar click 이벤트 */
        $('header nav ul li:nth-of-type(1)').on('click', function () {
            $('article:nth-of-type(1)').css({display: 'inline-block', transition: '1s'});
            $('article:nth-of-type(2)').css({display: 'none'});
            $('article:nth-of-type(3)').css({display: 'none'});
            $('article:nth-of-type(4)').css({display: 'none'});
        })

        $('header nav ul li:nth-of-type(2)').on('click', function () {
            $('article:nth-of-type(1)').css({display: 'none'});
            $('article:nth-of-type(2)').css({display: 'inline-block'});
            $('article:nth-of-type(3)').css({display: 'none'});
            $('article:nth-of-type(4)').css({display: 'none'});
        })

        $('header nav ul li:nth-of-type(3)').on('click', function () {
            $('article:nth-of-type(1)').css({display: 'none'});
            $('article:nth-of-type(2)').css({display: 'none'});
            $('article:nth-of-type(3)').css({display: 'inline-block'});
            $('article:nth-of-type(4)').css({display: 'none'});
        })

        $('header nav ul li:nth-of-type(4)').on('click', function () {
            $('article:nth-of-type(1)').css({display: 'none'});
            $('article:nth-of-type(2)').css({display: 'none'});
            $('article:nth-of-type(3)').css({display: 'none'});
            $('article:nth-of-type(4)').css({display: 'inline-block'});
        })

        /* 사전설문조사 페이지 이동 이벤트 */
        var distance = 0;
        var $point = $('.mainWrap .flexWrap section article:nth-of-type(1) .surveyWrap form .q div:nth-of-type(2) label');
        $($point).on('click', function () {
            if (distance <= -66.5) {
                return;
            }
            distance -= 12.5;
            $('section article:nth-of-type(1) .surveyWrap form').css({
                transform: 'translateX(' + distance + '%)',
                transition: '1s',
            })
            console.log('translateX(' + distance + '%)');
        })

        /* 로딩 중 구현 */
        const loader = $('.loader');
        const html = $('html');

        html.css({'overflow' : 'hidden'}); //로딩 중 스크롤 방지

        $(window).on('load', ()=>{
            setTimeout(() => {                      //  <-* 로딩속도 구현
                loader.fadeOut(300);
                html.css({'overflow' : 'auto'});    //스크롤 방지 해제
            }, 1000);                               //  <-* 로딩속도 구현
        })
    })

    /* 재설문 페이지로 이동 */
    function reSurvey() {
        var answer;

        //확인을 선택한 경우 자바스크립트를 호출할 때 같이 넘어온 url이라는 변수에 들어있는 주소로 페이지 이동
        answer = confirm("재설문 화면으로 이동하시겠습니까?");

        if(answer === true){
            alert("재설문 화면으로 이동합니다.");
            window.location.href = "/reSurveyForm";
        }
    }

    /* 로그아웃 confirm창 */
    function LogOut() {
        var logOut;

        logOut = confirm("로그아웃 하시겠습니까?");

        if (logOut === true) {
            window.location.href = "/Logout"
        }
    }
</script>