<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>survey</title>
    <link rel="stylesheet" href="/css/survey.css">
</head>
<body>
<article>
    <div class="surveyWrap">
        <h1>당신에 취향이 궁금해요!</h1>
        <p>선택하신 키워드를 토대로 일정을 생성합니다.</p>
        <form th:action="@{/SurveyForm}" th:object="${survey}" method="post">
            <div class="q q1">
                <div>
                    <div>Q1.</div>
                    <p>당신은 평소 실내와 실외 중 무엇을 더 선호하시나요?</p>
                </div>
                <div>
                    <label><input type="radio" name="q1" th:field="*{userWhere}" value="실내">실내</label>
                    <label><input type="radio" name="q1" th:field="*{userWhere}" value="실외">실외</label>
                    <label><input type="radio" name="q1" th:field="*{userWhere}" value="상관없음">상관없음</label>
                </div>
            </div>
            <div class="q q2">
                <div>
                    <div class="qicon">Q2.</div>
                    <p>당신의 평소 나들이 분위기는 어떤가요?</p>
                </div>
                <div>
                    <label><input type="radio" name="q2" th:field="*{userWHAT}" value="활동">나들이는 활동적인 것이 짱이죠!</label>
                    <label><input type="radio" name="q2" th:field="*{userWHAT}" value="배움">배움이 있는 나들이가 좋아요</label>
                    <label><input type="radio" name="q2" th:field="*{userWHAT}" value="힐링">나들이는 저에게 힐링하는 시간이에요~</label>
                    <label><input type="radio" name="q2" th:field="*{userWHAT}" value="맛기행">입이 즐거운 나들이가 최고에요</label>
                </div>
            </div>
            <div class="q q3">
                <div>
                    <div class="qicon">Q3.</div>
                    <p>주로 누구와 함께 하시나요?</p>
                </div>
                <div>
                    <label><input type="radio" name="q1" th:field="*{userWho}" value="연인">연인</label>
                    <label><input type="radio" name="q1" th:field="*{userWho}" value="자녀">자녀</label>
                    <label><input type="radio" name="q1" th:field="*{userWho}" value="친구">친구</label>
                    <label><input type="radio" name="q1" th:field="*{userWho}" value="가족">가족</label>
                    <label><input type="radio" name="q1" th:field="*{userWho}" value="혼자">혼자</label>
                </div>
            </div>
            <div class="q q4">
                <div>
                    <p>설문조사에 참여해주셔서 감사합니다~^^</p>
                    <p>선택한 답변을 바꾸고 싶으시다면 설문조사를 다시 실시해주세요!</p>
                </div>
                <img src="/img/like.png">
                <button type="submit">제출하기</button>
            </div>
        </form>
    </div>
</article>
</body>
</html>